* {
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: #dda15e;
    text-align: center;
  }
  
  h1 {
    color: #283618;
  }
  .container {
    height: 70vh;
    display: flex;
  
    justify-content: center;
    align-items: center;
  }
  
  .game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
  }
  
  .box.player-x {
    color: black;
  }
  .box.player-o {
    color: white;
  }


  .box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 20px 20px 60px #00000041,inset -20px  -20px 60px #ffffff40;
    font-size: 8vmin;
    color: #fff;
    background-color: #bc6c25;
  }

  .box:hover {
    transition: all 0.3s ease;
    transform: scale(1.05); 
  }
  
  #reset-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #283618;
    color: #fff;
    border-radius: 1rem;
    border: none;
  }
  
  #new-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #283618;
    color: #fff;
    border-radius: 1rem;
    border: none;
  }
  
  #msg {
    color: #ffffc7;
    font-size: 5vmin;
  }
  
  .msg-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
  }
  
  .hide {
    display: none;
  }
  @media screen and (max-width: 768px) {
    .msg-container {
      margin-top: 25vh;
      margin-bottom: 25vh;
    }
  }